[Unit]
Description=Back up Garmin activities from flash corruption

[Service]
User=root
WorkingDirectory=/root/rpi-backup/
ExecStart=/root/rpi-backup/checkmount
Restart=always

[Install]
WantedBy=multi-user.target

# Back up garmin activities
